* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    position: relative;
    min-width: 100vh;
    width: 100%;
    overflow: hidden;
} */
.container {
    display: flex;
    height: 100%;
}

.accessories {
    font-family: 'Trispace', sans-serif;
    position: relative;
    left: 17%;
    width: 83%;
    background: #11101d;
    border: 2px solid black;
    box-sizing: border-box;
}
.accessories-extend{
    font-family: 'Trispace', sans-serif;
    position: relative;
    min-height: 100vh;
    height: 100%;
    left: 17%;
    width: 83%;
    background: #11101d;
    border: 2px solid black;
    box-sizing: border-box;
}

.forGames {
    position: relative;
    left: 0%;
    background: #11101d;
    box-sizing: border-box;
}

.forEachGame {
    width: 100%;
    height: 14vw;
    object-fit: cover;
    padding: 15px;
    margin: 1px;
    border: 2px solid blue;
    background: #11101d;
}

.forEachGameInd{
    width: 100%;
    height: 15vw;
    object-fit: cover;
    padding: 5px;
    margin: 1px;
    border: 2px solid rgb(0, 255, 115);
    background: #11101d;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    background: #11101d;
    padding: 6px 14px;
}

.sidebar .profile .profile_logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.profile .profile_logo i {
    font-size: 28px;
    margin-right: 5px;
}

.profile .profile_logo .profile_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #menu {
    position: absolute;
    color: #fff;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 65px;
    width: 205px;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    border-radius: 15px;
}

.sidebar ul li input {
    position: absolute;
    height: 60%;
    width: 90%;
    left: 8%;
    top: 0;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 10px;
    outline: none;
    background: #1d1b31;

    font-size: 18px;
    color: #fff;
    transition: all 0.4s ease;
}

.sidebar ul li input:hover {
    background: #fff;
    color: rgb(0, 0, 0);
}

.sidebar ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    left: 12%;
    top: 11%;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar ul li a:hover {
    color: #11101d;
    background: #fff;
    border-radius: 10px;
    position: relative;
    height: 50px;
    width: 200px;
    margin: 5px 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar #log_out {
    position: relative;
    color: #fff;
    left: 90%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.sidebar #log_out:hover {
    margin: -2px 2px;
    font-size: 25px;
}

.hoveringGame {
    display:fixed;
    cursor : pointer;
    margin: 10px 10px;
    transition: all 0.3s ease;
}

.hoveringGame:hover{
    margin: 0px 14px;
}

.tableRowSpace{
    border-collapse: separate;
    border-spacing:10px 15px;
}
.checked{
    color : orange;
}
.cartGamePlace{
    display: flex;
    position: relative;
    min-height: 70vh;
    height: 70%;
    background: #11101d;
    border: 2px solid black;
    box-sizing: border-box;
}
.orderBox{
    display: flex;
    position: relative;
    height: 30%;
    min-height: 40vh;
    background: #11101d;
    border: 2px solid black;
    box-sizing: border-box;
}
